version: "3.2"
services:
  compiler-explorer:
    image: ghcr.io/tgymnich/compiler-explorer-docker:latest
    entrypoint: ["make", "--directory", "/app/compiler-explorer", "run"]
    ports:
      - "80:10240"
    volumes:
      - type: bind
        source: /home/ubuntu/compiler-explorer/etc
        target: /app/compiler-explorer/etc
        read_only: true
      - type: bind
        source: /home/ubuntu/compiler-explorer/lib/shortener
        target: /app/compiler-explorer/lib/shortener
        type: bind
        read_only: true
      - type: bind
        source: /home/ubuntu/compiler-explorer/examples
        target: /app/compiler-explorer/examples
        read_only: true
      - type: bind
        source: /home/ubuntu/compiler-explorer/views/resources
        target: /app/compiler-explorer/views/resources
        read_only: true
      - type: bind
        source: /opt/compiler-explorer
        target: /opt/compiler-explorer
        read_only: true
    restart: unless-stopped
