version: "3.8"
services:
  compiler-explorer:
    image: ghcr.io/enzymead/enzyme-explorer:latest
    ports:
      - "80:10240"
    volumes:
      - type: volume
        source: config
        target: /app/compiler-explorer/etc/config
        read_only: true
      - type: volume
        source: compilers
        target: /opt/compiler-explorer
        read_only: true
    labels:
      - "explorer"
    deploy:
      mode: replicated
      replicas: 2
      update_config:
        failure_action: rollback
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      labels:
        - "explorer"
    healthcheck:
       test: ["CMD", "curl", "-f", "http://localhost:10240/explorer"]
       interval: 30s
       timeout: 10s
       retries: 3
       start_period: 210s

  compiler-builder:
    image: ghcr.io/enzymead/enzyme-explorer-builder:latest
    volumes:
      - type: volume
        source: config
        target: /app/compiler-explorer/etc/config
      - type: volume
        source: compilers
        target: /opt/compiler-explorer
      - "/var/run/docker.sock:/var/run/docker.sock"
    deploy:
      mode: global
      update_config:
        failure_action: rollback

volumes:
  compilers:
  config:
